<%include ../partials/header%>
    <div class="ui container">
        <form action="/users/<%=user._id%>?_method=PUT" method="POST" class="ui-form">
            <div class="field">
                <label for="firstName">Ime</label>
                <input type="text" name="userUpdate[firstName]" id="firstName" value="<%=user.firstName%>"/>
            </div> 
            <div class="field">
                <label for="lastName">Prezime</label>
                <input type="text" name="userUpdate[lastName]" id="lastName" value="<%=user.lastName%>"/>
            </div>
            <div class="field">
                <label for="birthDate">Datum rođenja</label>
                <input type="date" name="userUpdate[birthDate]" id="birthDate" value="<%=user.birthDate%>"/>
            </div>
            <div class="field">
                <label for="streetNum">Ulica</label>
                <input type="text" name="userUpdate[streetName]" id="streetName" value="<%=user.streetName%>"/>
            </div>
            <div class="field">
                <label for="streetNum">broj</label>
                <input type="number" name="userUpdate[streetNum]" id="streetNum" value="<%=user.streetNum%>"/>
            </div>
            <div class="field">
                <label for="postalCode">Poštanski broj</label>
                <input type="text" name="userUpdate[postalCode]" id="postalCode" value="<%=user.postalCode%>"/>
            </div>
            <div class="field">
                <label for="municipality">Opština</label>
                <input type="text" name="userUpdate[municipality]" id="municipality" value="<%=user.municipality%>"/>
            </div>
            <div class="field">
                <label for="city">Grad</label>
                <input type="text" name="userUpdate[city]" id="city" value="<%=user.city%>"/>
            </div>
            <div class="field">
                <label for="country">Država</label>
                <input type="text" name="userUpdate[country]" id="country" value="<%=user.country%>"/>
            </div>
            <div class="field">
                <label for="phone">Broj mob.</label>
                <input type="tel" name="userUpdate[phone]" id="phone" value="<%=user.phone%>"/>
            </div>
            <div class="field">
                <label for="email">E-mail</label>
                <input type="email" name="userUpdate[email]" id="email" value="<%=user.email%>"/>
            </div>
            <input type="submit" value="Ažuriraj">
        </form>
    </div>
<%include ../partials/footer%>